################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
*/.vs/
*/bin
*/obj
/meterreadingapi/meterreadings.db
/meterreadingapi/meterreadings.db-shm
/meterreadingapi/meterreadings.db-wal
